---
layout: default
---

<div class="row">

    <div class="eight columns">
        {% assign more = "excerpt" %}

        {% for post in paginator.posts %}
            {% include post.html %}
        {% endfor %}


        {% assign page_older = "&larr; Older Posts" %}
        {% assign page_newer = "Newer Posts &rarr;" %}
        <div class="row">

            <div class="three columns">
                {% if paginator.previous_page %}
                    {% if paginator.previous_page == 1 %}
                        <a href="/">{{ page_older }}</a>
                    {% else %}
                        <a href="/page{{paginator.previous_page}}">{{ page_older }}</a>
                    {% endif %}
                {% endif %}
            </div>

            <div class="three columns offset-by-four">
                {% if paginator.next_page %}
                    <a href="/page{{paginator.next_page}}" class="next">{{ page_newer }}</a>
                {% endif %}
            </div>
        </div>
    </div>

    <aside class="four columns">
        {% include recent.html %}
    </aside>

</div>
