---
layout: default
---

<div class="row">

    <div class="span8">
        {% assign abstract = true %}

        {% for post in paginator.posts %}
            {% assign content = post.content %}
            {% include post.html %}
        {% endfor %}


        {% assign page_older = "&larr; Older" %}
        {% assign page_newer = "Newer &rarr;" %}
        <ul class="pager">

            {% if paginator.previous_page %}
                <li class="previous">
                    {% if paginator.previous_page == 1 %}
                        <a href="/">{{ page_older }}</a>
                    {% else %}
                        <a href="/page{{paginator.previous_page}}">{{ page_older }}</a>
                    {% endif %}
                </li>
            {% endif %}

            {% if paginator.next_page %}
                <li class="next">
                    <a href="/page{{paginator.next_page}}" class="next">{{ page_newer }}</a>
                </li>
            {% endif %}

        </ul>
    </div>

    <aside class="span4">

        {% include recent.html %}
        {% include projects.html %}

    </aside>

</div>
