<footer class="row">
    <hr />
    <div class="span6">
        <p>&copy; 2012 Anton Khodakivskiy</p>
    </div>
    <div class="span6">
        <ul class="inline pull-right">
            <li><a href="/archive.html">Archive</a></li>
            <li><a href="/tags.html">Tags</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="https://github.com/akhodakivskiy/akhodakivskiy.github.com">Source</a></li>
            <li>
                <a href="http://feeds.feedburner.com/til-akhodakivskiy" rel="alternate" type="application/rss+xml">
                    <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" 
                    alt="" style="vertical-align:middle;border:0"/>
                </a>
            </li>
        </ul>
    </div>
</footer>
