<header class="row">
    <div class="span8">
        <h1>
            <a href="/">{{site.title}}</a>
            <small>{{site.tagline}}</small>
        </h1>
        <hr/>
    </div>
    <div class="span4">
        <ul class="pull-right nav nav-pills header-section">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Projects
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="https://addons.mozilla.org/en-US/firefox/addon/vimfx/">
                            <b>VimFx</b> - Vim & Firefox
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
