---
layout: default
---

<div class="row">
    <div class="twelve columns">
        {% assign post = page %}
        {% include post.html %}
    </div>
</div>

<div class="row">
    <div class="twelve columns">
        <script>
            var idcomments_acct = '1097d14ad063821782039076bd36c58d';
            var idcomments_post_id;
            var idcomments_post_url;
        </script>
        <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
    </div>
</div>
